@model EnviarFormularioFull;

<section class="container mt-5">
    @if (TempData["enviado"] != null)
    {
        <div class="alert alert-success" role="alert">
            Se ha enviado un correo a @TempData["enviado_email"]
        </div>
    }
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Formulario de contacto</h3>
            <p class="text-center">Escribenos un mensaje y te contactaremos.</p>
        </div>
        <div>
            <div class="col mt-3">
                <form class="w-50 mx-auto col" asp-action="EnviarFullFormulario" method="post">
                    <article class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Asunto</label>
                        <input type="text" asp-for="asunto" class="form-control" placeholder="test">
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input 
                            type="text" 
                            asp-for="nombre" 
                            class="form-control" 
                            placeholder="Logan..."
                        />
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Apellidos:</label>
                        <input 
                            type="text" 
                            asp-for="apellidos" 
                            class="form-control" 
                            placeholder="Apollo..."
                        />
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Correo electronico:</label>
                        <input 
                            type="email" 
                            asp-for="email" 
                            name="email" 
                            class="form-control" 
                            placeholder="ejemplo@gmail.com..."
                        />
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Fecha nacimiento:</label>
                        <input 
                            type="date" 
                            name="fecha_nacimiento"
                            asp-for="fecha_nacimiento" 
                            class="form-control" 
                            placeholder="Fecha..."
                        />
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Hora entrada:</label>
                        <input 
                            type="time" 
                            name="hora_entrada"
                            asp-for="hora_entrada" 
                            class="form-control" 
                            placeholder="Hora..."
                        />
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Turno:</label>
                        <select class="form-select" asp-for="turno">
                            <option selected value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino</option>
                        </select>
                    </article>
                    <article class="mb-3">
                        <label for="nombre" class="form-label">Comentarios:</label>
                        <textarea 
                            name="comentario"
                            asp-for="comentario" 
                            class="form-control" 
                            placeholder="Tus comentarios..."
                        ></textarea>
                    </article>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Enviar" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<style>
    .carousel-item{

        height:450px;
    }
</style>